* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f5f8ff;
}

.container {
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container h1 {
    color: #333;
}

.container .tab {
    position: relative;
    background: #fff;
    padding: 0 20px 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.container .tab input {
    appearance: none;
}

.container .tab label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.container .tab label::after {
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.1);
    transition: transfrom 1s;
}

.container .tab:hover label::after {
    color: #333;
}

.container .tab input:checked~label::after {
    transform: rotate(135deg);
    color: #fff;
}

.container .tab label h2 {
    width: 40px;
    height: 40px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.25em;
    border-radius: 5px;
    margin-right: 10px;
}

.container .tab input:checked~label h2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.2);
    font-size: 8em;
    justify-content: flex-end;
    padding: 20px;
}

.container .tab:nth-of-type(1) label h2 {
    background: linear-gradient(135deg, #70f570, #49c628);
}

.container .tab:nth-of-type(2) label h2 {
    background: linear-gradient(135deg, #3c8ce7, #00eaff);
}

.container .tab:nth-of-type(3) label h2 {
    background: linear-gradient(135deg, #ff96f9, #c32bac);
}

.container .tab:nth-of-type(4) label h2 {
    background: linear-gradient(135deg, #fd6e6a, #ffc600);
}

.container .tab label h3 {
    position: relative;
    font-weight: 500;
    color: #333;
    z-index: 10;
}
.container .tab input:checked~label h3{
    background: #fff;
    padding: 2px 10px;
    color: #333;
    border-radius: 2px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.container .tab .content {
    max-height: 0;
    transition: 1s;
    overflow: hidden;
}

.container .tab input:checked~.content {
    max-height: 100vh;
}

.container .tab .content p {
    position: relative;
    padding: 10px 0;
    color: #333;
    z-index: 10;
}
.container .tab input:checked~.content p{
    color: #fff;
    
}