* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #27282c;
    flex-direction: column;
    gap: 60px;
}

a {
    position: relative;
    background: #27282c;
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: .5s;
    border: 3px solid rgb(68, 68, 68);
}

a:hover {
    letter-spacing: 0.25em;
    border-color: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}

a::before {
    content: '';
    position: absolute;
    inset: 2px;
}

s span {
    position: relative;
    z-index: 2;
    color: white;
}

a i {
    position: absolute;
    inset: 0;
    display: block;
}

a i::before {
    content: '';
    position: absolute;
    top: -6px;
    left: 80%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background: #27282c;
    transform: translateX(-50%);
    transition: .5s;
}
a:hover i::before{
    width: 20px;
    left: 20%;
}
a i::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 20%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background: #27282c;
    transform: translateX(-50%);
    transition: .5s;
}
a:hover i::after{
    width: 20px;
    left: 80%;
}