*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Work Sans', sans-serif;
	text-decoration: none;
}

section{
	padding: 70px 5%;
}
.profile{
	height: 100vh;
	width: 100%;
	background-color: #081420;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.container{
	height: auto;
	width: 100%;
	max-width: 460px;
	background-color: #222429;
	padding: 0px 0px 40px 0px;
	border-radius: 20px;
	transition: all .40s ease;
	cursor: pointer;
}
.container:hover{
	transform: scale(1.1);
}
.container img{
	width: 100%;
	height: 360px;
	object-fit: cover;
	border-radius: 20px 20px 0px 0px;
}
.profile-text h1{
	margin: 30px 0 10px;
	font-size: 35px;
	color: #ffffffd9;
	line-height: 32px;
	font-weight: 600;
}
.profile-text h4{
	color: #efb90b;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 1.2rem;
}
.icons i{
	display: inline-block;
	color: #ffffffd9;
	font-size: 18px;
	margin: 0px 7px;
	margin-bottom: 2.2rem;
	transition: all .40s ease;
}
.icons i:hover{
	transform: scale(1.1);
	color: #efb90b;
}
.newslatter{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 30px;
}
.newslatter form{
	width: 100%;
	max-width: 370px;
	position: relative;
}
.newslatter form input:first-child{
	display: inline-block;
	width: 100%;
	outline: none;
	border: 2px solid #efb90b;
	padding: 11px 90px 11px 9px;
	border-radius: 20px;
}
.newslatter form input:last-child{
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	background-color: #efb90b;
	color: #ffffffd9;
	padding: 9px 29px;
	border-radius: 20px;
	cursor: pointer;
	top: 4px;
	right: 4px;
}

@media (max-width: 800px){
	section{
		padding: 20px 4%;
	}
	.container{
		width: 100%;
		height: auto;
		max-width: 600px;
	}
	.container img{
		width: 100%;
		height: 460px;
		object-fit: cover;
	}
}